html {
   background-color: #3F51B5
}


/* Style the top navigation bar */
.topnav {
    overflow:hidden;
    background-color: #303F9F;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #FFC107;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.mdl-button {
  display: block;
  margin: 0 auto;
}
